{%extends "base.html"%}

{%block content%}
<main class="container mt-4">
    <div class="row">
        <div class="col-md-4 offset-md-4" >
            <form action="/signup/" method="post" class="card card-body">
                <h1 class="text-center">Crear una cuenta</h1>
                <h3>{{error}}</h3>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Elige tu nombre de usuario</label>
                    <input type="text" name="username" id="username" placeholder="Ingresa aquí tu nombre de usuario" class="form-control required">
                </div>
                <div class="mb-3">
                    <label for="password1">Elige una contraseña</label>
                    <input type="password" name="password1" id="password1" placeholder="Ingresa aquí tu contraseña" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password2">Confirma tu contraseña</label>
                    <input type="password" name="password2" id="password2" placeholder="Ingresa de nuevo tu contraseña" class="form-control" required>
                </div>
                <button class="btn btn-dark">
                    Registrarse
                </button>
                <p class="text-center">¿Ya estás registrado? <a href="/signin/">Click acá</a></p>
            </form>
        </div>
    </div>
</main>
{% endblock %}
