{%extends "base.html"%}

{%block content%}
<main class="container">
    <div>
        <h1 class="text-warning">{{task.titulo}}</h1>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"">
        <form action= "{% url 'complete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success " style="margin-right: 10px; margin-top: 0px; margin-left: 10px">Completar</button>
        </form>
        <form action= "{% url 'delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger col-md-20" style="margin-top: 0px;">Borrar</button>
        </form>
    </div>
    <div>  
        {{error}}
        <form action= "{% url 'task_detail' task.id %}" method="POST">
            {% csrf_token %} 
            {{form.as_p}}
            <button class="btn btn-dark col-md-12" style="margin-top: 5px;">Actualizar</button>
        </form>
    </div>
       

    
   
</main>
{% endblock %}
